<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Week5-NoteTaker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C11CF8C51F3FD1190096E997</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C11CF8E11F3FD1190096E997</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C11CF8EC1F3FD1190096E997</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
